{% extends './base.html' %}


{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            
            <form method="POST" class="card card-body">
            <h1 class="text-center mb-4">Agregar producto</h1>
            {% csrf_token %}
           <div class="form-group">
                <input type="text" id="txtProducto" name="txtProducto" class="form-control mb-2" placeholder="Nombre Producto" maxlength="58" required>

                <select id="selectProveedor" name="selectProveedor" class="form-control mb-2" required>
                    <option value="" disabled selected>Seleccione un proveedor</option>
                    {% for proveedor in proveedores %}
                    <option value="{{ proveedor.id }}">{{ proveedor.nombre }}</option>
                    {% endfor %}
                </select>

                <textArea id="txtdescripcion" name="txtdescripcion" class="form-control mb-2" placeholder="Descripción Producto" maxlength="100"  rows="3" required></textArea>
                <input type="number" id="txtprecio" name="txtprecio" class="form-control mb-2" placeholder="Precio Producto"   min="1" step="0.01" required>
                <input type="number" id="txtstock" name="txtstock" class="form-control mb-2" placeholder="Stock" min="0"  required>
                

           </div>
            <button type="submit"class="btn btn-primary mb-2">
             Guardar
            </button>
            <a href="{% url 'productos' %}" class="btn btn-secondary">Cancelar</a>
            </form>

        </div>
    </div>
</main>


{% endblock %}