{% extends './base.html' %}


{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            
            <form method="POST" class="card card-body">
            <h1 class="text-center mb-4">Editar Producto</h1>
            {% csrf_token %}
           <div class="form-group">
                <input type="text" id="txtProducto" name="txtProducto"  value="{{producto.nombre}}"  class="form-control mb-2" placeholder="Nombre Producto" maxlength="58" required>


                <textArea id="txtdescripcion" name="txtdescripcion"  value="{{producto.descripcion}}" class="form-control mb-2" placeholder="Descripción Producto" maxlength="100"  rows="3" required></textArea>
                <input type="number" id="txtprecio" name="txtprecio"  value="{{producto.precio}}"  class="form-control mb-2" placeholder="Precio Producto"   min="1" step="0.01" required>
                <input type="number" id="txtstock" name="txtstock"  value="{{producto.stock}}" class="form-control mb-2" placeholder="Stock" min="0"  required>
                

           </div>
            <button type="submit"class="btn btn-primary mb-2">
             Guardar Cambios
            </button>
            <a href="{% url 'productos' %}" class="btn btn-secondary">Cancelar</a>
            </form>

        </div>
    </div>
</main>


{% endblock %}